<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>

<body>
    <div class="container">
        <h3>Thank you for your business!</h3>
        {% for order in orders %}
        <p>We charged your credit card for ${{ order.total_price }}</p>
        <p>You have ordered {{ name }} items so far and spent $${{ order.total_price }} with Amadon.com!
        </p>
        <p><a href="/">Go Back</a></p>
        {% endfor %}
    </div>
</body>

</html>